<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
  </head>
  <body>
    <p>
      Hello <%= user.displayName %>,
    </p>
    <p>
      You have recently requested to recover the password for your account:<br>
      <b><%= user.name %></b>
    </p>
    <p>
      Please visit this link to reset your password:<br>
      <a href="<%= link %>"><%= link %></p>
    </p>
    <p>
      If you did not know anything about this, feel free to ignore this message.
      The link will expire in one hour and nothing will happen.
    </p>
  </body>
</html>
